
{% extends "components/layout.html" %} 

{% block title %}Home{% endblock %} 
{% block content %}

<div class="container mt-4 shadow-lg p-3 mb-5 bg-body rounded">
  <table class="table table-bordered table-striped" id = 'dataTable'>
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Fecha de Publicacion</th>
        <th>Editorial</th>
        <th>Precio</th>

      </tr>
    </thead>
    <tbody id="data">
    </tbody>
  </table>
</div>

{% endblock %}
